@import '~@/styles/varible.less';
@import '~antd/lib/style/themes/default.less';

// 主文本
.primary_text {
  color: @black-85;
  font-size: 14px;
}
// 副文本
.secondary_text {
  color: @black-45;
  font-weight: 400;
  font-size: 14px;
}

.blue_text {
  color: @primary !important;
  font-size: 14px;
}

// 动态表单布局
.pro-form-card {
  margin-bottom: 12px !important;
  .ant-card-body {
    padding: 20px 20px 0 !important;
  }
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: linear-gradient(90deg, #3c6cfe 0%, rgba(60, 108, 254, 0) 100%) !important;
}
