@import '~@/styles/varible.less';
@import '~antd/lib/style/themes/default.less';

// 主文本
.primary_text {
  color: @black-85;
  font-size: 14px;
}
// 副文本
.secondary_text {
  color: @black-45;
  font-weight: 400;
  font-size: 14px;
}
