.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  :global {
    .ant-pro-grid-content {
      flex: 1;

      .ant-pro-grid-content-children,
      .ant-pro-grid-content-children > div,
      .ant-pro-page-container-children-content,
      .ant-pro-page-container-children-content > div {
        height: 100%;
      }
    }

    .ant-form-item:nth-last-child(2) {
      margin-left: 90px;
    }
  }

  .flex_col {
    display: flex;
    flex-direction: column;
  }
}

.title {
  color: #262626;
  font-size: 16px;
  line-height: 35px;
}

.tip {
  margin-top: 25px;
  color: #bbb;
  font-size: 14px;
}

.info {
  height: 100%;
  margin-top: 24px;

  .total {
    margin-bottom: 24px;
    padding: 0 20px;

    span {
      font-weight: bold;
    }
  }
}

