.next_step {
  .c_96 {
    color: #096dd9;
  }
  .warn {
    margin-top: -3px;
    margin-right: 12px;
    color: #d46b08;
    font-size: 22px;
    vertical-align: middle;
    // background-color: #D46B08;
  }
  :global {
    .matters {
      padding: 24px 22px 14px 22px;
      background-color: #f5f5f5;
      border-radius: 2px;
      .matters_tit {
        margin-bottom: 16px;
        line-height: 24px;
        .warn {
          // vertical-align: middle;
          // margin-right: 12px;
          // margin-top: -3px;
          color: #d46b08;
          font-size: 30px;
          // background-color: #D46B08;
        }
      }
      .matters_words {
        padding-left: 32px;
        ul {
          padding: 0;
        }
      }
    }
  }
}
