.title {
  padding: 3px 0;
  font-weight: 600;
  font-size: 15px;
}

.subtitle {
  line-height: 30px;
}

.modular {
  margin-bottom: 45px;
}

.situation {
  display: flex;

  div:nth-child(2) {
    margin-left: 40px;
  }
}
